{{>header}}
{{>navbar}}

  <section class="row home">
    <table class="table table-stripped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Remaining Balance</th>

          <th>Operations</th>
        </tr>
      </thead>
      <tbody>
        {{#each allUsers}}
        <tr>
          <td>{{accNum}}</td>
          <td>{{name}}</td>
          <td>
            {{remainingBalance}}
          </td>
          <td>
            <a href="/single/{{accNum}}" class="btn btn-primary mx-2">Show</a>
            <a href="/addop/{{accNum}}" class="btn btn-warning mx-2">Add</a>
            <a href="/withdraw/{{accNum}}" class="btn btn-danger mx-2">Withdraw</a>
          </td>
        </tr>
  {{/each}}
      </tbody>
    </table>
  </section>
</div>
{{>footer}}